<% if user_signed_in? %>
<%=current_user.username %>你好
<%= link_to "登出", destroy_user_session_path,method:'delete' %>
<% else %>
<%= link_to "註冊", new_user_registration_path %>
<%= link_to "登入", new_user_session_path %>
<% end %>

<h2>Todolist</h2>
<%= form_for Todolist.new do |f|%> 
<%= f.text_field :thing%> 
<%= f.submit%>
 <%end%>

 <%= form_tag todolists_path, :method => :get do %>
  <%= hidden_field_tag :done,""%> 
  <%= submit_tag "All" %> 
  <%end%>

  <%= form_tag todolists_path, :method => :get do %>
   <%= hidden_field_tag :done,"T"%> 
   <%= submit_tag "Done" %> 
   <%end%>

   <%= form_tag todolists_path, :method => :get do %>
    <%= hidden_field_tag :done,"F"%> 
    <%= submit_tag "Undo" %> 
    <%end%>

<% @todolist.each do |todolist| %> 
 <%= todolist.thing%> 
 <%= button_to "Edit", edit_todolist_path(todolist), :method => :get %>
 <%= button_to "Delete", todolist_path(todolist), method:"delete" %>
 <%if todolist.status != "T"%> 
 <%= button_to "Done", change_todolist_path(todolist), :method => :post%> 
 <%else%> 
 <%= button_to "Undo", change_todolist_path(todolist), :method => :post%>
  <%end%>
 <%end%>